/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: headertable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 3;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #dcdcdc;
	border-spacing-y: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-headertable
{
	border-collapse: collapse;
	background-color: #dcdcdc;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-headertable-Column-Column1
{
	
}

.TableStyle-headertable-Head-Header1
{
	
}

.TableStyle-headertable-HeadI-Column1-Header1
{
	
}

.TableStyle-headertable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-headertable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-headertable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-headertable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-headertable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadC-Column1-Header1
{
	
}

.TableStyle-headertable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-headertable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadA-Column1-Header1
{
	
}

.TableStyle-headertable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-headertable-HeadG-Column1-Header1
{
	
}

.TableStyle-headertable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-headertable-Foot-Footer1
{
	
}

.TableStyle-headertable-FootI-Column1-Footer1
{
	
}

.TableStyle-headertable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootE-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-headertable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-headertable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootH-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-headertable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-headertable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootC-Column1-Footer1
{
	
}

.TableStyle-headertable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootB-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-headertable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootA-Column1-Footer1
{
	
}

.TableStyle-headertable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-headertable-FootG-Column1-Footer1
{
	
}

.TableStyle-headertable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-headertable-Body-Body1
{
	
}

.TableStyle-headertable-BodyI-Column1-Body1
{
	
}

.TableStyle-headertable-BodyI-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-headertable-BodyE-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-headertable-BodyF-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyH-Column1-Body1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-headertable-BodyH-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-headertable-BodyD-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyC-Column1-Body1
{
	
}

.TableStyle-headertable-BodyC-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyB-Column1-Body1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-headertable-BodyB-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyA-Column1-Body1
{
	
}

.TableStyle-headertable-BodyA-Column1-Body1 p
{
	
}

.TableStyle-headertable-BodyG-Column1-Body1
{
	
}

.TableStyle-headertable-BodyG-Column1-Body1 p
{
	
}


