﻿/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 30px;
		margin-right: 0px;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: KBTable1;
	cell-padding-left: 5px;
	cell-padding-right: 1px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	max-id: 9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	margin-left: 30px;
	margin-right: 50px;
	margin-top: 16px;
	margin-bottom: 16px;
	widows: 4;
	orphans: 4;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	background-color: #3896c1;
	name: Header1;
	id: 2;
	color: #dcdcdc;
	font-size: 10pt;
	font-family: Arial;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #edf0f1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	font-size: 10pt;
	font-family: Arial;
	cell-content-style-tag: none;
	cell-content-style-class: table;
	page-break-before: auto;
}

mcTableBodyStyle
{
	span: 1;
	name: DarkerRows;
	id: 1;
	background-color: #e1e4e6;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	font-size: 10pt;
	font-family: Arial;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-KBTable1
	{
		margin-left: 30px;
		margin-right: 0px;
		margin-top: 16px;
		margin-bottom: 16px;
		border-spacing: 0px 0px;
	}
}

.TableStyle-KBTable1
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 30px;
	margin-right: 50px;
	margin-top: 16px;
	margin-bottom: 16px;
	widows: 4;
	orphans: 4;
	border-spacing: 0px 0px;
}

.TableStyle-KBTable1-Column-Regular
{
	
}

.TableStyle-KBTable1-Column-DarkShade
{
	
}

.TableStyle-KBTable1-Head-Header1
{
	
}

.TableStyle-KBTable1-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadI-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadE-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadF-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadH-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadD-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadC-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadB-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadA-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadG-Regular-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadI-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadE-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadF-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadH-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-HeadD-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadC-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadB-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadA-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
	background-color: #3896c1;
}

.TableStyle-KBTable1-HeadG-DarkShade-Header1 p
{
	color: #dcdcdc;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-Foot-Footer1
{
	
}

.TableStyle-KBTable1-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-KBTable1-FootI-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-KBTable1-FootE-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-KBTable1-FootF-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-FootH-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-KBTable1-FootD-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-KBTable1-FootC-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-FootB-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-KBTable1-FootA-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-KBTable1-FootG-Regular-Footer1 p
{
	
}

.TableStyle-KBTable1-FootI-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
}

.TableStyle-KBTable1-FootI-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootE-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-KBTable1-FootE-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootF-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-KBTable1-FootF-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootH-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-FootH-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootD-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-KBTable1-FootD-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootC-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
}

.TableStyle-KBTable1-FootC-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootB-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-FootB-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootA-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
}

.TableStyle-KBTable1-FootA-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-FootG-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #8798b3;
}

.TableStyle-KBTable1-FootG-DarkShade-Footer1 p
{
	
}

.TableStyle-KBTable1-Body-LightRows
{
	page-break-before: auto;
}

.TableStyle-KBTable1-BodyI-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
}

.TableStyle-KBTable1-BodyI-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyE-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyE-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyF-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyF-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyH-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyH-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyD-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyD-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyC-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
}

.TableStyle-KBTable1-BodyC-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyB-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyB-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyA-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
}

.TableStyle-KBTable1-BodyA-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyG-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #edf0f1;
}

.TableStyle-KBTable1-BodyG-Regular-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyI-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyI-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyE-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyE-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyF-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyF-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyH-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyH-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyD-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyD-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyC-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyC-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyB-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyB-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyA-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyA-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyG-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyG-DarkShade-LightRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-Body-DarkerRows
{
	
}

.TableStyle-KBTable1-BodyI-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
}

.TableStyle-KBTable1-BodyI-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyE-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyE-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyF-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyF-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyH-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyH-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyD-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-KBTable1-BodyD-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyC-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
}

.TableStyle-KBTable1-BodyC-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyB-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyB-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyA-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
}

.TableStyle-KBTable1-BodyA-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyG-Regular-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #e1e4e6;
}

.TableStyle-KBTable1-BodyG-Regular-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyI-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyI-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyE-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyE-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyF-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyF-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyH-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyH-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyD-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyD-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyC-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyC-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyB-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-KBTable1-BodyB-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyA-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyA-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-KBTable1-BodyG-DarkShade-DarkerRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	background-color: #8798b3;
}

.TableStyle-KBTable1-BodyG-DarkShade-DarkerRows p
{
	font-family: Arial;
	font-size: 10pt;
}

