/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: reftable2;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	max-id: 7;
	margin-top: 10px;
	margin-bottom: 40px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	background-color: #d3d3d3;
	name: Column1;
	id: 0;
	type: Header;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column2;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	type: Automatic;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	vertical-align: middle;
}


/* Cell Styles: */
 
.TableStyle-reftable2
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #d3d3d3;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #d3d3d3;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #d3d3d3;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 40px;
	border-spacing: 0px 0px;
}

.TableStyle-reftable2-Column-Column1
{
	
}

.TableStyle-reftable2-Column-Column2
{
	
}

.TableStyle-reftable2-HeadI-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-HeadI-Column1- p
{
	
}

.TableStyle-reftable2-HeadE-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-HeadE-Column1- p
{
	
}

.TableStyle-reftable2-HeadF-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-HeadF-Column1- p
{
	
}

.TableStyle-reftable2-HeadH-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-HeadH-Column1- p
{
	
}

.TableStyle-reftable2-HeadD-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-HeadD-Column1- p
{
	
}

.TableStyle-reftable2-HeadC-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-HeadC-Column1- p
{
	
}

.TableStyle-reftable2-HeadB-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-HeadB-Column1- p
{
	
}

.TableStyle-reftable2-HeadA-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-HeadA-Column1- p
{
	
}

.TableStyle-reftable2-HeadG-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-HeadG-Column1- p
{
	
}

.TableStyle-reftable2-HeadI-Column2-
{
	
}

.TableStyle-reftable2-HeadI-Column2- p
{
	
}

.TableStyle-reftable2-HeadE-Column2-
{
	
}

.TableStyle-reftable2-HeadE-Column2- p
{
	
}

.TableStyle-reftable2-HeadF-Column2-
{
	
}

.TableStyle-reftable2-HeadF-Column2- p
{
	
}

.TableStyle-reftable2-HeadH-Column2-
{
	
}

.TableStyle-reftable2-HeadH-Column2- p
{
	
}

.TableStyle-reftable2-HeadD-Column2-
{
	
}

.TableStyle-reftable2-HeadD-Column2- p
{
	
}

.TableStyle-reftable2-HeadC-Column2-
{
	
}

.TableStyle-reftable2-HeadC-Column2- p
{
	
}

.TableStyle-reftable2-HeadB-Column2-
{
	
}

.TableStyle-reftable2-HeadB-Column2- p
{
	
}

.TableStyle-reftable2-HeadA-Column2-
{
	
}

.TableStyle-reftable2-HeadA-Column2- p
{
	
}

.TableStyle-reftable2-HeadG-Column2-
{
	
}

.TableStyle-reftable2-HeadG-Column2- p
{
	
}

.TableStyle-reftable2-FootI-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-FootI-Column1- p
{
	
}

.TableStyle-reftable2-FootE-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-FootE-Column1- p
{
	
}

.TableStyle-reftable2-FootF-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-FootF-Column1- p
{
	
}

.TableStyle-reftable2-FootH-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-FootH-Column1- p
{
	
}

.TableStyle-reftable2-FootD-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-FootD-Column1- p
{
	
}

.TableStyle-reftable2-FootC-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-FootC-Column1- p
{
	
}

.TableStyle-reftable2-FootB-Column1-
{
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-FootB-Column1- p
{
	
}

.TableStyle-reftable2-FootA-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-FootA-Column1- p
{
	
}

.TableStyle-reftable2-FootG-Column1-
{
	background-color: #d3d3d3;
}

.TableStyle-reftable2-FootG-Column1- p
{
	
}

.TableStyle-reftable2-FootI-Column2-
{
	
}

.TableStyle-reftable2-FootI-Column2- p
{
	
}

.TableStyle-reftable2-FootE-Column2-
{
	
}

.TableStyle-reftable2-FootE-Column2- p
{
	
}

.TableStyle-reftable2-FootF-Column2-
{
	
}

.TableStyle-reftable2-FootF-Column2- p
{
	
}

.TableStyle-reftable2-FootH-Column2-
{
	
}

.TableStyle-reftable2-FootH-Column2- p
{
	
}

.TableStyle-reftable2-FootD-Column2-
{
	
}

.TableStyle-reftable2-FootD-Column2- p
{
	
}

.TableStyle-reftable2-FootC-Column2-
{
	
}

.TableStyle-reftable2-FootC-Column2- p
{
	
}

.TableStyle-reftable2-FootB-Column2-
{
	
}

.TableStyle-reftable2-FootB-Column2- p
{
	
}

.TableStyle-reftable2-FootA-Column2-
{
	
}

.TableStyle-reftable2-FootA-Column2- p
{
	
}

.TableStyle-reftable2-FootG-Column2-
{
	
}

.TableStyle-reftable2-FootG-Column2- p
{
	
}

.TableStyle-reftable2-Body-Body1
{
	
}

.TableStyle-reftable2-BodyI-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #d3d3d3;
}

.TableStyle-reftable2-BodyI-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyE-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-BodyE-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyF-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	background-color: #d3d3d3;
}

.TableStyle-reftable2-BodyF-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyH-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-BodyH-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyD-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
	background-color: #d3d3d3;
}

.TableStyle-reftable2-BodyD-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyC-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #d3d3d3;
}

.TableStyle-reftable2-BodyC-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyB-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #d3d3d3;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-reftable2-BodyB-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyA-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #d3d3d3;
}

.TableStyle-reftable2-BodyA-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyG-Column1-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #d3d3d3;
}

.TableStyle-reftable2-BodyG-Column1-Body1 p
{
	
}

.TableStyle-reftable2-BodyI-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-reftable2-BodyI-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyE-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-reftable2-BodyE-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyF-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-reftable2-BodyF-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyH-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-reftable2-BodyH-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyD-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-reftable2-BodyD-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyC-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-reftable2-BodyC-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyB-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-reftable2-BodyB-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyA-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-reftable2-BodyA-Column2-Body1 p
{
	
}

.TableStyle-reftable2-BodyG-Column2-Body1
{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-reftable2-BodyG-Column2-Body1 p
{
	
}


