/*<meta />*/

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

NOTE: Generally, this stylesheet has elements listed out in the order that they appear in the topic from top to bottom. The exception are General styles which are at the top and the stylesheet mediums which are at the bottom.

EXAMPLE: Since the search-bar is at the top of the topic page, it will be listed closer to the top of this stylesheet.

===========================================================================================================================================================*/

/*==Topic General Styles==*/

body
{
	color: #404040;
	font-family: Arial, Avenir, Myriad;
	line-height: 1.7em;
}

body.home-master-page	/*This style is purely used for viewing the HomePage.flmsp within the Flare Editor*/
{
	background-color: #cecece;
	column-break-after: auto;
	column-break-before: auto;
	column-break-inside: auto;
	frame-break-after: auto;
	frame-break-before: auto;
	frame-break-inside: auto;
	text-align: inherit;
	margin: 4px;
	left: 0px;
	right: 0px;
}

h1
{
	font-weight: normal;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	line-height: 1em;
	font-family: Helvetica;
	font-size: 18pt;
}

h1.home
{
	text-align: center;
	font-family: Arial, Avenir, Myriad;
	color: #F26849;
}

h1.master-page
{
	font-size: 2.3em;
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	line-height: 1em;
	text-align: center;
	color: #000000;
}

h2
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
	font-family: Helvetica;
	font-size: 16pt;
}

h3
{
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
	font-family: Helvetica;
	font-size: 14pt;
}

h4
{
	font-family: Helvetica;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: Helvetica;
	font-size: 11pt;
}

img	/*Setting max-width: 100%; property makes images always fit the width of the container*/
{
	max-width: 100%;
}

img.thumbnail
{
	mc-thumbnail: popup;
}

a.MCBreadcrumbsLink
{
	font-styleyes: italic;
	text-decoration: underline;
	font-size: 15pt;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #43AAB9;
}

.center
{
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	position: inherit;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
	font-size: .75em;
	color: #2c8ce5;
	border-bottom-color: #0e5d95;
	border-bottom-style: double;
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #ecf0f1;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/arrow-right-black.png');
	mc-open-image: url('../Images/arrow-down-black.png');
}

MadCap|dropDownHotspot
{
	color: #3f4652;
	font-weight: bold;
}

/*==Top Navigation Bar==*/

nav.title-bar
{
	position: absolute;
	width: 100%;
}

/*==Master Page Topic Layout==*/

.main-section	/*This style applies the grey background. This HTML element is not on a master page, it is used at compile time.*/
{
	color: #000000;
	background-color: #E8ECEF;
}

div.content-container	/*Wraps the content on the masterpage and provides the white background behind topics.*/
{
	margin-right: auto;
	/*Since the top navigation bar is absolutely positioned the content-container needs to be pushed down to accommodate the space*/
	text-indent: 2px;
	margin-left: auto;
}

div.topic-layout	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	background-color: #FFF;
	min-height: 95vh;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 20px 40px 0px;
	overflow: scroll;
	margin-left: auto;
	margin: auto;
}

div.topic-layout::before
{
	content: ' ';
	display: table;
}

div.topic-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.topic-layout > div
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 95vh;
}

div.topic-layout > div:nth-child(1)	/*Menu Proxy container*/
{
	margin-left: 5%;
	min-height: 100%;
	border-right: solid 1px #d3d3d3;
	padding-right: 20px;
	background-color: #939faa;
}

div.topic-layout > div:nth-child(2)
{
	width: 73%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 5px 10px;
	overflow: auto;
}

div.side-content	/*Container for Menu proxy*/
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	overflow: hidden;
}

ul.menu._Skins_SideMenu.mc-component li > a.selected	/*Provides the line on the left of the selected topic*/
{
	border-left: solid 2px #0e5d95;
	border-bottom-color: #0e5d95;
	color: #2C8CE5;
}

/*==Home Tiles section==*/

div.home-tiles-container
{
	padding-bottom: 10px;
	padding-top: 10px;
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 12pt;
	margin-left: auto;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 11.5px;
	padding-right: 11.5px;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}

div.home-tiles > div:hover
{
	box-shadow: 0 0 7px 3px rgba(0,0,0,0.08), 0 3px 8px 3px rgba(0,0,0,0.08);
}

div.home-tiles > div:nth-child(1)
{
	width: 32%;
	margin-left: 1%;
	background-color: #ffffff;
	margin-top: 5%;
}

div.home-tiles > div:nth-child(2)
{
	margin-left: 1%;
	width: 32%;
	background-color: #ffffff;
	margin-top: 5%;
}

div.home-tiles > div:nth-child(3)
{
	width: 32%;
	margin-left: 1%;
	background-color: #ffffff;
	margin-top: 2%;
}

/*=Elements for text contained within each home-tile=*/

p.tile-title
{
	text-align: center;
	color: #000000;
	font-size: 30px;
}

div.home-tiles a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	color: #F26849;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.home-tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: #3f4652;
}

div.info-container
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding-bottom: 75px;
	border-top: solid 1px #d3d3d3;
	padding-top: 10px;
}

div.info-section
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.info-section::before
{
	content: ' ';
	display: table;
}

div.info-section::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.info-section > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.info-section > div:nth-child(1)
{
	width: 50%;
}

div.info-section > div:nth-child(2)
{
	width: 50%;
}

/*==Home Page Footer==*/

div.footer
{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #303840;
}

div.footer a
{
	text-decoration: none;
	color: #DADADA;
}

div.footer p	/* Complex Selector: Any <p> that is contained within div.footer will have the following properties */
{
	font-size: 0.8em;
	color: #FFF;
}

div.home-master-page-footer	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-master-page-footer::before
{
	content: ' ';
	display: table;
}

div.home-master-page-footer::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-master-page-footer > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-master-page-footer > div:nth-child(1)
{
	width: 25%;
	margin-left: 0%;
	margin-top: 0%;
}

div.home-master-page-footer > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
}

div.home-master-page-footer > div:nth-child(3)
{
	width: 25%;
	margin-left: 0%;
}

ul._Skins_SideMenu
{
	display: block;
	color: #2c8ce5;
}

MadCap|menuProxy
{
	
}

_generic_.main-section
{
	background-color: #E8ECEF;
}

_generic_.center
{
	
}

MadCap|bodyProxy
{
	text-align: justify;
	overflow: scroll;
	left: 4px;
	position: relative;
}

address
{
	overflow: scroll;
}

div
{
	
}

div:nth-child(1)
{
	margin-left: 0%;
}

div:nth-child(2)
{
	margin-left: 0%;
}

div:nth-child(3)
{
	margin-left: 0%;
}

span
{
	font-size: 15pt;
}

MadCap|topicToolbarProxy
{
	
}

ul.menu
{
	color: #2c8ce5;
	border-left: solid 2px #2c8ce5;
}

ul.mc-component
{
	color: #2c8ce5;
}

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media mobile
{
	div.content-container
	{
		margin-top: 25%;
	}

	div.topic-layout > div
	{
		height: auto;
	}

	div.topic-layout > div:nth-child(1)
	{
		display: none;
	}

	div.topic-layout > div:nth-child(2)
	{
		width: 100%;
		overflow: auto;
	}

	div.home-master-page-footer > div:nth-child(1)
	{
		width: 100%;
	}

	div.home-master-page-footer > div:nth-child(2)
	{
		width: 100%;
	}

	div.home-master-page-footer > div:nth-child(3)
	{
		width: 100%;
	}
}

.buttons._Skins_TopicToolBar.mc-component
{
	position: relative;
	top: 0%;
}

.search-bar._Skins_SearchHome.mc-component
{
	display: block;
}

.search-bar
{
	border: none;
	background-color: transparent;
}

ul.menu._Skins_menu.mc-component li > a
{
	color: #2D8DCC;
	font-size: 12px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 6px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: transparent;
}

