/*<meta />*/

p
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	vertical-align: top;
}

li.ListParagraph
{
	font-size: 12pt;
	margin-left: 36pt;
	font-family: Calibri;
}

p.ListParagraph
{
	font-size: 12pt;
	margin-left: 36pt;
	font-family: Calibri;
}

span.Strong
{
	font-weight: bold;
}

p.p_1
{
	font-family: Calibri;
	font-size: 16pt;
}

p.p_2
{
	font-family: Calibri;
	font-weight: bold;
	font-size: 13pt;
}

p.p_3
{
	font-family: Calibri;
}

p.p_4
{
	font-family: Calibri;
	font-weight: bold;
	color: #222222;
	font-size: 13pt;
}

span.span_1
{
	font-family: Calibri;
}

p.p_5
{
	background-color: #FFFFFF;
	margin-bottom: 8pt;
}

span.span_2
{
	font-family: Calibri;
	font-weight: bold;
	color: #333333;
	font-size: 13pt;
}

span.span_3
{
	font-family: Calibri;
	color: #333333;
}

p.p_6
{
	background-color: #FFFFFF;
	margin-bottom: 8pt;
	font-family: Calibri;
	font-weight: bold;
	color: #333333;
}

span.span_4
{
	font-family: Calibri;
	color: #333333;
	font-size: 11pt;
}

span.span_5
{
	font-weight: bold;
	color: #666666;
	font-size: 10pt;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 36pt;
}

span.span_6
{
	font-family: Calibri;
	font-weight: bold;
	color: #666666;
	font-size: 10pt;
}

p.p_7
{
	font-family: Calibri;
	font-weight: bold;
	color: #666666;
	font-size: 10pt;
}

span.span_7
{
	color: #333333;
	font-size: 11pt;
}

li.ListParagraph_1
{
	font-size: 12pt;
	margin-left: 36pt;
	font-family: Calibri;
	list-style-type: disc;
}

span.span_8
{
	color: #444444;
}

span.span_9
{
	font-weight: bold;
	color: #444444;
}

span.span_10
{
	color: #444444;
	font-size: 10pt;
}

ul.ul_1
{
	list-style-type: disc;
	margin-left: 72pt;
}

p.ListParagraph_1
{
	font-size: 12pt;
	font-family: Calibri;
	margin-left: 72pt;
}

p.p_8
{
	background-color: #FFFFFF;
	margin-bottom: 8pt;
	font-family: Calibri;
	font-style: italic;
	color: #333333;
}

span.span_11
{
	font-family: Calibri;
	color: #000000;
	font-size: 11pt;
}

li.li_1
{
	background-color: #FFFFFF;
}

ul.ul_2
{
	list-style-type: disc;
	margin-left: 36pt;
}

p.p_9
{
	background-color: #FFFFFF;
}

p.p_10
{
	background-color: #FFFFFF;
	font-family: Calibri;
	font-weight: bold;
	color: #333333;
	font-size: 13pt;
}

p.p_11
{
	background-color: #FFFFFF;
	font-family: Calibri;
	color: #333333;
	font-size: 11pt;
}

