/*<meta />*/

@media only screen and (max-width: 5000px)
{
	/* Search Styles */

	.search-bar .search-filter
	{
		font-size: 1em;
	}

	.button.login-button.feedback-required,
	.button.edit-user-profile-button.feedback-required
	{
		display: none;
	}

	.pulse-frame
	{
		display: none;
	}

	.central-dropdown:after
	{
		margin-left: 11px;
	}

	.central-account-text
	{
		display: none;
	}

	.central-dropdown-proxy:after
	{
		margin-left: 5px;
	}

	._Skins_SearchHome.mc-component .search-auto-complete ul
	{
		background-color: #ffffff;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item a
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	._Skins_SearchHome.mc-component .search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	._Skins_SearchHome.mc-component .search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.search-bar._Skins_SearchHome.mc-component
	{
		
	}

	.search-bar._Skins_SearchHome.mc-component .search-field
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter
	{
		background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
	}

	.search-bar._Skins_SearchHome.mc-component .search-submit
	{
		
	}

	._Skins_SearchHome.mc-component .search-filter-content
	{
		top: 3em;
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter-wrapper.open
	{
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/FilterOutline.png') no-repeat center center;
		background-color: #ffffff;
		background-repeat: no-repeat;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter:hover
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchHome.mc-component .search-filter.selected
	{
		background: transparent url('Images/Filter.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/Filter.png') no-repeat center center;
	}

	._Skins_SearchHome.mc-component .search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	._Skins_SearchHome.mc-component .search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	.search-bar._Skins_SearchHome.mc-component .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar._Skins_SearchHome.mc-component .search-field::-moz-placeholder
	{
		
	}

	.search-bar._Skins_SearchHome.mc-component .search-field:-moz-placeholder
	{
		
	}

	.search-bar._Skins_SearchHome.mc-component .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container._Skins_SearchHome.mc-component .search-submit
	{
		background: #ffffff url('Images/SearchIcon.png') no-repeat center center;
		-pie-background: #ffffff url('Skins/Default/Stylesheets/Components/Images/SearchIcon.png') no-repeat center center;
	}

	.search-bar.search-bar-container._Skins_SearchHome.mc-component .search-submit:hover
	{
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ffffff;
	}

	.buttons._Skins_TopicToolBar.mc-component
	{
		
	}

	._Skins_TopicToolBar.mc-component .button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.button-button
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #ececec;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.collapse-all-button
	{
		background: #ececec url('Images/collapse.png') no-repeat center center;
		background: url('Images/collapse.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/collapse.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/collapse.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/collapse.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/collapse.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/collapse.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/collapse.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: linear-gradient(transparent, transparent);
		background-position: center center;
	}

	._Skins_TopicToolBar.mc-component .button.expand-all-button
	{
		background: #ececec url('Images/expand.png') no-repeat center center;
		background: url('Images/expand.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/expand.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/expand.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/expand.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/expand.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/expand.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/expand.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.next-topic-button
	{
		background: #ececec url('Images/navigate-next.png') no-repeat center center;
		background: url('Images/navigate-next.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/navigate-next.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/navigate-next.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/navigate-next.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/navigate-next.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/navigate-next.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/navigate-next.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.pdf-button
	{
		background: #ececec url('Images/PDF-icon-gray.png') no-repeat center center;
		background: url('Images/PDF-icon-gray.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/PDF-icon-gray.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/PDF-icon-gray.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/PDF-icon-gray.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/PDF-icon-gray.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/PDF-icon-gray.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/PDF-icon-gray.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.previous-topic-button
	{
		background: #ececec url('Images/navigate-previous.png') no-repeat center center;
		background: url('Images/navigate-previous.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/navigate-previous.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/navigate-previous.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.print-button
	{
		background: #ececec url('Images/printer.png') no-repeat center center;
		background: url('Images/printer.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/printer.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/printer.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/printer.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/printer.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/printer.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/printer.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.remove-highlight-button
	{
		background: #ececec url('Images/highlight.png') no-repeat center center;
		background: url('Images/highlight.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/highlight.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/highlight.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/highlight.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/highlight.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/highlight.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/highlight.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.select-language-button
	{
		background: #ececec url('Images/select-language.png') no-repeat center center;
		background: url('Images/select-language.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/select-language.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/select-language.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/select-language.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/select-language.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/select-language.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/select-language.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.select-skin-button
	{
		background: #ececec url('Images/select-skin.png') no-repeat center center;
		background: url('Images/select-skin.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/select-skin.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/select-skin.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/select-skin.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/select-skin.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/select-skin.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/select-skin.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .button.send_feedback-button
	{
		background: #ececec url('Images/istockphoto-1215688122-170667a.jpg') no-repeat center center;
		background: url('Images/istockphoto-1215688122-170667a.jpg') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/istockphoto-1215688122-170667a.jpg') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/istockphoto-1215688122-170667a.jpg') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/istockphoto-1215688122-170667a.jpg') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/istockphoto-1215688122-170667a.jpg') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/istockphoto-1215688122-170667a.jpg') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Components/Images/istockphoto-1215688122-170667a.jpg') no-repeat center center, linear-gradient(transparent, transparent);
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_TopicToolBar.mc-component .toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_TopicToolBar.mc-component .button-separator
	{
		
	}
}

