/*<meta />*/

@media only screen and (max-width: 5000px)
{
	/* OffCanvas styles */

	html,
	body
	{
		height: 100%;
		margin: 0;
	}

	.off-canvas
	{
		height: 100%;
		overflow-x: hidden;
		background-color: #333333;
	}

	.off-canvas-content
	{
		max-height: none;
	}

	/* Foundation Overrides */

	.foundation-wrap,
	.off-canvas-wrapper,
	.off-canvas-wrapper-inner
	{
		min-height: 100%;
	}

	.foundation-wrap,
	.off-canvas-wrapper
	{
		overflow: visible;
	}

	nav.title-bar .menu-icon
	{
		display: block;
		border: none;
		z-index: 100;
		position: absolute;
		background: transparent;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
		left: -13px;
		right: auto;
	}

	nav.title-bar
	{
		background-position: center top;
		background-repeat: no-repeat;
		background: #002437;
		background: -moz-linear-gradient(top, #002437 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002437), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #002437 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #002437 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #002437 0%,#ffffff 100%);
		background: linear-gradient(top, #002437 0%,#ffffff 100%);
		-pie-background: linear-gradient(#002437, #ffffff);
	}

	/* Topbar Menu Styles */

	.title-bar-section.middle > div
	{
		
	}

	.navigation-wrapper,
	ul.navigation
	{
		display: none;
	}

	.responsive-header
	{
		display: block;
		background: #292929;
		height: 60px;
	}

	.title-bar-layout a.logo
	{
		top: 0;
		margin: 0;
		width: 199px;
		height: 76px;
		background: transparent url('Images/UserGuide test.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/UserGuide test.png') no-repeat center center;
	}

	.title-bar .menu-icon span
	{
		height: 48px;
		width: 48px;
		display: block;
		background: transparent url('Images/Menu.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Menu.png') no-repeat center center;
	}

	.search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.search-bar .search-filter
	{
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.off-canvas.position-right
	{
		background-position: top center;
	}

	.off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.off-canvas.position-left
	{
		background-position: top center;
	}

	.off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.off-canvas ul ul.is-accordion-submenu
	{
		background: inherit;
	}

	.off-canvas ul.off-canvas-list li.is-drilldown-submenu-parent > a:after
	{
		margin-left: 0.5rem;
	}

	.is-drilldown-submenu .js-drilldown-back > a:after
	{
		margin-left: 0.5em;
	}

	ul.off-canvas-list li a
	{
		font-size: 1em;
		border-bottom: solid 1px #262626;
		line-height: inherit;
		color: #C1C1C1;
	}

	ul.off-canvas-accordion ul > li > a
	{
		margin-left: 1em;
	}

	ul.off-canvas-accordion ul ul > li > a
	{
		margin-left: 2em;
	}

	ul.off-canvas-accordion ul ul ul > li > a
	{
		margin-left: 3em;
	}

	ul.off-canvas-accordion ul ul ul ul > li > a
	{
		margin-left: 4em;
	}

	ul.off-canvas-accordion-rtl ul > li > a
	{
		margin-left: inherit;
		margin-right: 1em;
	}

	ul.off-canvas-accordion-rtl ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 2em;
	}

	ul.off-canvas-accordion-rtl ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 3em;
	}

	ul.off-canvas-accordion-rtl ul ul ul ul > li > a
	{
		margin-left: inherit;
		margin-right: 4em;
	}

	/* Side Nav */

	.sidenav-layout
	{
		display: block;
		height: inherit;
		max-height: none;
	}

	.sidenav-wrapper
	{
		display: none;
	}

	.body-container
	{
		overflow: inherit;
	}

	.central-dropdown
	{
		position: absolute;
		top: 50%;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
		transform: translateY(-20%);
		line-height: 0px;
		left: 30px;
		right: auto;
	}

	.central-account-text
	{
		display: none;
	}

	.central-dropdown-content
	{
		left: -25px;
		right: auto;
		background-color: #ffffff;
	}

	.central-dropdown:after
	{
		margin-left: 6px;
		margin-top: 0px;
	}

	.central-dropdown:hover
	{
		
	}

	.central-account-image
	{
		background: transparent url('Images/icon-user-white.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-user-white.png') no-repeat center center;
	}

	div.central-dropdown-content > a
	{
		
	}

	div.central-dropdown-content > a:hover
	{
		
	}

	.central-separator
	{
		background-color: #D5D8DA;
	}

	.off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		
	}

	.title-bar-layout .logo-wrapper
	{
		min-height: 76px;
		flex-basis: 100%;
	}

	.menu-icon-container
	{
		min-height: 76px;
	}

	.off-canvas-wrapper-inner .outer-row
	{
		
	}

	.main-section > .outer-row
	{
		
	}

	.off-canvas ul ul
	{
		background-color: #333333;
	}

	ul.off-canvas-list ul > li > a
	{
		margin-left: 1em;
	}

	ul.off-canvas-list ul ul > li > a
	{
		margin-left: 2em;
	}

	ul.off-canvas-list ul ul ul > li > a
	{
		margin-left: 3em;
	}

	ul.off-canvas-list ul ul ul ul > li > a
	{
		margin-left: 4em;
	}

	ul.off-canvas-list li.js-drilldown-back > a
	{
		
	}

	ul.off-canvas-list li a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul ul ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list li a.selected
	{
		
	}

	ul.off-canvas-list ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		
	}

	.search-auto-complete ul
	{
		background-color: #ffffff;
	}

	.search-auto-complete li.auto-result-item a
	{
		
	}

	.search-auto-complete li.auto-result-item
	{
		
	}

	.search-auto-complete li.auto-result-content
	{
		
	}

	.search-auto-complete li.auto-result-history
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.nav-search-wrapper
	{
		flex-basis: 100%;
	}

	.nav-search
	{
		
	}

	.search-bar .search-field
	{
		background-color: #ffffff;
		padding-right: 50px;
	}

	.search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	.search-bar .search-filter-wrapper.open
	{
		background-color: #ffffff;
	}

	.search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	.search-filter-content ul li button:focus
	{
		background-color: #ffffff;
	}

	.search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar .search-field::-moz-placeholder
	{
		
	}

	.search-bar .search-field:-moz-placeholder
	{
		
	}

	.search-bar .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container .search-submit
	{
		background-repeat: no-repeat;
		background: #bed230 url('Images/SearchIcon.png') no-repeat center center;
	}

	.search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: #bed230;
	}

	.skip-to-content
	{
		background-color: #ffffff;
	}
}

