﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <p class="labelKB" MadCap:conditions="Default.ScreenOnly">Knowledge Base</p>
        <h1>Recommended Azure AD Token Setting for Vera SSO <a href="../../Resources/Published/PDFs/AzureADToken.pdf" target="_blank"><img src="../../Resources/Images/MiscAssets/pdf.jpg" style="width: 40px;height: 42px;" MadCap:conditions="Default.ScreenOnly"></img></a></h1>
        <p>To ensure security and smooth the login experience, Vera recommends setting the Azure AD token lifetime to no more than 30 minutes. This can be achieved by creating a custom Azure AD Policy and then mapping it with the Vera SSO application. </p>
        <h2>Steps to create Azure AD Policy</h2>
        <ol start="1">
            <li>Install the AZURE AD PowerShell Module.</li>
        </ol>
        <p id="code">Install-Module -Name AzureADPreview</p>
        <ol start="2">
            <li>Create a new AzureAD Policy with a token lifetime of 30 minutes.</li>
        </ol>
        <p><code>Connect-AzureAD</code> (log in with Azure Global Admin credentials)	</p>
        <p><code>PS C:\Windows\system32&gt; New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{"Version":1,"MaxAgeSessionSingleFactor":"00:30:00", "MaxAgeSessionMultiFactor":"00:30:00"}}') -DisplayName "VeraPolicyMaxAgeSession" -IsOrganizationDefault $false -Type "TokenLifetimePolicy"</code><![CDATA[
        ]]></p>
        <table style="margin-left: 0;margin-right: auto;">
            <col />
            <col />
            <col />
            <col />
            <tbody>
                <tr class="CodeReturn">
                    <td style="font-family: 'Courier New';font-size: 10pt;">Id&#160;</td>
                    <td style="font-family: 'Courier New';font-size: 10pt;">DisplayName</td>
                    <td style="font-family: 'Courier New';font-size: 10pt;">Type</td>
                    <td style="font-family: 'Courier New';font-size: 10pt;">IsOrganizationDefault</td>
                </tr>
                <tr class="CodeReturn">
                    <td style="font-size: 10pt;"><code>82fd6339-a0b0-4564-be5b-4c1ebdc174ec</code>
                    </td>
                    <td style="font-size: 10pt;"> <code>VeraPolicyMaxAgeSession</code></td>
                    <td style="font-size: 10pt;"><code>TokenLifetimePolicy</code>
                    </td>
                    <td style="font-size: 10pt;"><code>False</code>
                    </td>
                </tr>
            </tbody>
        </table>
        <ol start="3">
            <li>Verify that the policy has been created successfully. </li>
        </ol>
        <p id="code">PS C:\Windows\system32&gt; Get-AzureADPolicy |fl</p>
        <p id="code">&#160;</p>
        <p id="code">Id&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; : 82fd6339-a0b0-4564-be5b-4c1ebdc174ec</p>
        <p id="code">OdataType&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; :</p>
        <p id="code">AlternativeIdentifier :</p>
        <p id="code">Definition&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; {{"TokenLifetimePolicy":{"Version":1,"MaxAgeSessionSingleFactor":"00:30:00", </p>
        <p id="code">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; "MaxAgeSessionMultiFactor":"00:30:00"}}}</p>
        <p id="code">DisplayName&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; : VeraPolicyMaxAgeSession</p>
        <p id="code">IsOrganizationDefault : False</p>
        <p id="code"><span class="span_3">KeyCredentials&#160;&#160;&#160;&#160;&#160;&#160;&#160; : {}</span>
        </p>
        <p id="code">Type&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; : TokenLifetimePolicy</p>
        <p class="p_6">&#160;</p>
        <ol start="4" class="ol_4">
            <li class="li_4">
                <p class="p_7">Retrieve the ObjectId of the Vera SSO Application.</p>
                <p id="code">PS C:\Windows\system32&gt; Get-AzureADApplication</p>
                <p class="p_4">&#160;</p>
                <table style="margin-left: 0;margin-right: auto;">
                    <col />
                    <col />
                    <col />
                    <tbody>
                        <tr class="CodeReturn">
                            <td style="font-family: 'Courier New';font-size: 10pt;">ObjectId&#160;</td>
                            <td style="font-family: 'Courier New';font-size: 10pt;">AppID </td>
                            <td style="font-family: 'Courier New';font-size: 10pt;">DisplayName</td>
                        </tr>
                        <tr class="CodeReturn">
                            <td style="font-size: 10pt;"><code>e2d98ae7-e8a6-4c6f-a756-cc7baea8d4b9</code>
                            </td>
                            <td style="font-size: 10pt;"><code>9b4ce3ce-be66-4d93-858b-f8d3ba99998f</code>
                            </td>
                            <td style="font-size: 10pt;"><code>Vera Security</code>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ol>
        <ol start="5">
            <li>Map the newly created policy to the Vera SSO Application.</li>
        </ol>
        <p id="code">PS C:\Windows\system32&gt; Add-AzureADApplicationPolicy -Id e2d98ae7-e8a6-4c6f-a756-cc7baea8d4b9 -RefObjectId 82fd6339-a0b0-4564-be5b-4c1ebdc174ec
        </p>
        <p>In this newly created policy:</p>
        <ul>
            <li><code>Id </code>is the Object Id of the Vera SSO Application that was retrieved in step 4.
            </li>
            <li><code>RefObjectId </code>is the Object Id of the policy that was retrieved in step 3.
            </li>
        </ul>
        <p>&#160;</p>
    </body>
</html>